@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome to Dino Diner Restaurant</h1>

<img src="pic/DinoDiner-29.png"
     alt="An intimidating leopard" 
     width="500"
     height="500"/>

<ul>
    <li><a asp-page="/Menu">Menu</a></li>
</ul>

<ul>
    <li><a asp-page="/Privacy">Privacy</a></li>
</ul>

<ul>
    <li><a asp-page="/About">About</a></li>
</ul>