@page
@model Website.Pages.MenuPageModel
@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>

<h2>Combos</h2>
<div class="menu-item">
    <p>Brontowurst Combo
        <ul>
            <li>Brontowurst</li>
            <li>Fryceritops(small)</li>
            <li>Cola Sodasaurus(small)</li>
            <li>Price: 7.35</li>
            <li>Calories: 832</li>
            <li>ingredients:
                <ul>
                    <li>Brontowurst: brautwurst, whole-wheat bun, peppers, and onions.</li>
                    <li>Fryceritops: potatoes, salt, and vegtable oil.</li>
                    <li>Cola Sodasaurus: Water, Natural Flavors, and Cane Sugar.</li>
                </ul>
            </li>
        </ul>
    </p>
    <p></p>
</div>

<div class="menu-item">
    <p>
        Dino Nuggets Combo
        <ul>
            <li>Dino Nuggets(6 pieces)</li>
            <li>Fryceritops(small)</li>
            <li>Cola Sodasaurus(small)</li>
            <li>Price: 6.74</li>
            <li>Calories: 688</li>
            <li>
                ingredients:
                <ul>
                    <li>Fryceritops: potatoes, salt, and vegtable oil.</li>
                    <li>Cola Sodasaurus: Water, Natural Flavors, and Cane Sugar.</li>
                </ul>
            </li>
        </ul>
    </p>
    <p></p>
</div>

<div class="menu-item">
    <p>
        Pterodactyl Wings Combo
        <ul>
            <li>Pterodactyl Wings</li>
            <li>Fryceritops(small)</li>
            <li>Cola Sodasaurus(small)</li>
            <li>Price: 9.70</li>
            <li>Calories: 652</li>
            <li>
                ingredients:
                <ul>
                    <li>Pterodactyl Wings: Chicken and Wing Sauce</li>
                    <li>Fryceritops: potatoes, salt, and vegtable oil.</li>
                    <li>Cola Sodasaurus: Water, Natural Flavors, and Cane Sugar.</li>
                </ul>
            </li>
        </ul>
    </p>
    <p></p>
</div>

<div class="menu-item">
    <p>
        Steakosaurus Burger Combo
        <ul>
            <li>Steakosaurus Burger</li>
            <li>Fryceritops(small)</li>
            <li>Cola Sodasaurus(small)</li>
            <li>Price: 7.35</li>
            <li>Calories: 832</li>
            <li>
                ingredients:
                <ul>
                    <li>Steakosaurus Burger: whole wheat bun, steakburger pattie, pickle, ketchup, and mustard.</li>
                    <li>Fryceritops: potatoes, salt, and vegtable oil.</li>
                    <li>Cola Sodasaurus: Water, Natural Flavors, and Cane Sugar.</li>
                </ul>
            </li>
        </ul>
    </p>
    <p></p>
</div>

<div class="menu-item">
    <p>
        T-Rex King Burger Combo
        <ul>
            <li>T-Rex King Burger</li>
            <li>Fryceritops(small)</li>
            <li>Cola Sodasaurus(small)</li>
            <li>Price: 10.94</li>  
            <li>Calories: 1062</li>
            <li>
                ingredients:
                <ul>
                    <li>T-Rex King Burger: a whole wheat bun, three steakburger patties, lettuce, tomato, onion, pickle, ketchup, mustard, and mayo.</li>
                    <li>Fryceritops: potatoes, salt, and vegtable oil.</li>
                    <li>Cola Sodasaurus: Water, Natural Flavors, and Cane Sugar.</li>
                </ul>
            </li>
        </ul>
    </p>
    <p></p>
</div>

<div class="menu-item">
    <p>
        Veloci-Wrap Combo
        <ul>
            <li>Veloci-Wrap</li>
            <li>Fryceritops(small)</li>
            <li>Cola Sodasaurus(small)</li>
            <li>Price: 9.35</li>  
            <li>Calories: 690</li>
            <li>
                ingredients:
                <ul>
                    <li>Veloci-Wrap: a flour tortilla, chicken breast, romaine lettuce, Ceasar dressing, and parmesan cheese.</li>
                    <li>Fryceritops: potatoes, salt, and vegtable oil.</li>
                    <li>Cola Sodasaurus: Water, Natural Flavors, and Cane Sugar.</li>
                </ul>
            </li>
        </ul>
    </p>
    <p></p>
</div>

<div class="menu-item">
    <p>
        Prehistoric PB & J Combo
        <ul>
            <li>Prehistoric PB & J</li>
            <li>Fryceritops(small)</li>
            <li>Cola Sodasaurus(small)</li>
            <li>Price: 9.01</li>  
            <li>Calories: 817</li>
            <li>
                ingredients:
                <ul>
                    <li>Prehistoric PB & J: bread, peanut butter, and jelly.</li>
                    <li>Fryceritops: potatoes, salt, and vegtable oil.</li>
                    <li>Cola Sodasaurus: Water, Natural Flavors, and Cane Sugar.</li>
                </ul>
            </li>
        </ul>
    </p>
    <p></p>
</div>

<h2>Entree</h2>

<h2>Sides</h2>

<h2>Drinks</h2>

